<!doctype html>
{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Ferma.kg</title>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">
        function CleanFunc(obj) {
            $(obj).parent().css({
                "display": "none"
            });
            $(obj).parent().siblings().css({
                "margin-left": 0,
                "width": 100 + '%',
                "max-width": 100 + '%',
                "padding-left": 0
            });
            $(obj).parent().siblings().find('.more_block').css({
                'padding-left': 0
            })
        }
    </script>
</head>
<body>
<div class="mobile_hamburger"><a href="#" class="closed"><i class="fa fa-bars"></i></a></div>
<div class="mobile_menu" id="mobile_menu">
    <ul class="menu_list">
        <li><a href="#">главная</a></li>
        <li><a href="#">компании</a></li>
        <li><a href="#">новости</a></li>
    </ul>
</div>
<div class="white_back">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded ferma_nav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item left_side_links">
                        <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item left_side_links">
                        <a class="nav-link" href="#">Новости<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item left_side_links">
                        <a class="nav-link" href="#">Компании<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <a class="navbar-brand m-auto" href="#"><img src="{% static 'img/logo.png' %}" alt=""></a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link ad_advert" href="#">Добавить объявление<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <form action="#">
                            <input type="search" placeholder="Поиск">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>