//= template/header.html
//= template/slider.html
<div class="container main_content">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12 left_side">
            <div class="left_panel sticky-top">
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12 form_container">
            <form action="#" method="POST">
                <div class="form_row"><label for="name">Ваше имя</label><input type="text" id="name"></div>
                <div class="form_row"><label for="email">Ваш Email</label><input type="email" id="email"></div>
                <div class="form_row"><label for="title">Введите заголовок</label><input type="text" id="title"></div>
                <div class="form_row"><label for="advert_type">Тип объявления</label><select name="" id="advert_type">
                    <option value="#">All</option>
                </select></div>
                <div class="form_row"><label for="advert_category">Выберите категорию</label><select name=""
                                                                                                     id="advert_category">
                    <option value="#">All</option>
                </select></div>
                <div class="form_row"><label>Выберите картинку не более 1 мб</label><label for="advert_images"
                                                                                           class="advert_images">Выберите
                    файл</label><input type="file" id="advert_images"></div>
                <div class="form_row"><textarea name="ad_text" id="ad_text" cols="30" rows="10"
                                                placeholder="Введите текст объявления"></textarea></div>
                <div class="form_row"><input type="checkbox" id="agree_with_rules"><label for="agree_with_rules">Я
                    согласен с <a href="#">правилами</a></label></div>


                <input type="submit" placeholder="Отправить">
            </form>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-3 right_side">
            <div class="right_banner sticky-top">
            </div>
        </div>
    </div>
</div>
<script src="js/advert.js"></script>
//= template/footer.html